/*My styles!*/

p {
  color: #5A5453;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: 300;
  font-size: 1em;
}

h1 {
  color: #E8A8A2;
  font-size: 3em;
  font-family: 'Oswald', Arial, sans-serif;
}

h2 {
  color: #4D4847;
  font-family: 'Oswald', Arial, sans-serif;
  text-align: left;
  margin: 0px;
  font-weight: 400;
  font-size: 1em;
}

body {
  background-color: #FEFCEC;
  margin-left: 300px;
  margin-right: 300px;
}

ul {
  list-style-type: none;
  color: #5A5453;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: 300;
  font-size: 1em;
}

#nav {
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#nav li {
  border: 2px solid #D6B6AE;
  margin: 2px;
  width: 100px;
}

a:link {
text-decoration: none;
}

#nav a:link, #nav a:visited {
  display: block;
  color: #4F4446;
  background-color: #FFDAD9;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  padding: 4px;
}

#nav a:hover, #nav a:active {
  background-color: #D99E9A;
}

.caption {
  font-family: 'Crimson Pro', Georgia, serif;
  color: black;
  font-style: italic;
  text-align: left;
  font-size: 0.8em;
  margin: 0px;
  margin-bottom: 5px;
  padding: 4px
}

#footer {
  font-family: 'Crimson Pro', Georgia, serif;
  color: black;
  font-size: 0.8em;
  border-top: 1px solid black;
}

img {
  border: none;
}

.title {
  text-align: left;
  font-family: 'Oswald', Arial, sans-serif;
  margin: 0px;
}

.photo {
  margin-bottom: 0px;
}
